body {
    background: #FFFFFF;
}
h1 {
    text-align: center;
}
.caixa1 {
    position: absolute;
    background: #0B173B;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 0;
    bottom: 0;
}
.caixa2 {
    position: absolute;
    background: #0B2161;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 205px;
    bottom: 0;
}
.caixa3 {
    position: absolute;
    background: #08298A;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 0;
    bottom: 205px;
}

.menuPrincipal {
    position: relative;
    background: #0174DF;
    width: 100%;
    height: 45px;
    top: 0;
    left: 0;
    color: rgb(252, 159, 221);
}

nav ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: 0%;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li a:hover {
    background: #2E64FE;
    color: #2E2E2E;
}
#aviao {
    width: 20%;
}
.caixaAviao {
    left: 0;
    width: 90%;
    height: 150px;
    background: #FFFFFF;
    margin: 20px;
    border-color: #0404B4;
    border-width: 20px;
    border-style: solid;
    padding: 20px;
}

